{% extends 'base.html' %}

{% block content %}
<form method="POST" action="/behandle"> 
	<label for="navn_forelder_1">Navn - Forelder 1:</label> 
	<input type="text" id="navn_forelder_1" name="navn_forelder_1" />
    <br> 
	<label for="navn_forelder_2">Navn - Forelder 2:</label>
	<input type="text" id="navn_forelder_2" name="navn_forelder_2" />
    <br> 
	<label for="adresse_forelder_1">Adresse - Forelder 1:</label>
	<input type="text" id="adresse_forelder_1" name="adresse_forelder_1" /><br>

	<label for="adresse_forelder_2">Adresse - Forelder 2:</label> 
	<input type="text" id="adresse_forelder_2" name="adresse_forelder_2" /><br>

	<label for="tlf_nr_forelder_1">Telefonnummer - Forelder 1:</label> 
	<input type="tel" id="tlf_nr_forelder_1" name="tlf_nr_forelder_1" /><br>

	<label for="tlf_nr_forelder_2">Telefonnummer - Forelder 2:</label> 
	<input type="tel" id="tlf_nr_forelder_2" name="tlf_nr_forelder_2" /><br>

	<label for="personnummer_forelder_1">Personnummer - Forelder 1:</label>
	<input type="text" id="personnummer_forelder_1" name="personnummer_forelder_1" /><br>

	<label for="personnummer_forelder_2">Personnummer - Forelder 2:</label> 
	<input type="text" id="personnummer_forelder_2" name="personnummer_forelder_2" /><br>

	<label for="personnummer_barnet_1">Personnummer - Barn 1:</label>
	<input type="text" id="personnummer_barnet_1" name="personnummer_barnet_1" /><br>

	<label for="personnummer_barnet_2">Personnummer - Barn 2:</label>
	<input type="text" id="personnummer_barnet_2" name="personnummer_barnet_2" /><br>
	<fieldset>
		<legend>Diverse fortrinnsrett</legend>
		<label for="fortrinnsrett_barnevern">Fortrinnsrett - Barnevern:</label>
		<input type="checkbox" id="fortrinnsrett_barnevern" name="fortrinnsrett_barnevern" /><br>
	
		<label for="fortrinnsrett_sykdom_i_familien">Fortrinnsrett - Sykdom i Familien:</label>
		<input type="checkbox" id="fortrinnsrett_sykdom_i_familien" name="fortrinnsrett_sykdom_i_familien" /><br>

		<label for="fortrinnsrett_sykdome_paa_barnet">Fortrinnsrett - Sykdome på Barnet:</label>
		<input type="checkbox" id="fortrinnsrett_sykdome_paa_barnet" name="fortrinnsrett_sykdome_paa_barnet" /><br>

		<label for="fortrinssrett_annet">Fortrinnsrett - Annet:</label>
		<input type="text" id="fortrinssrett_annet" name="fortrinssrett_annet" /><br>
	</fieldset>
	<br>
	<label for="liste_over_barnehager_prioritert_5">Liste over Barnehager (Prioritert):</label>
	<input type="text" id="liste_over_barnehager_prioritert_5" name="liste_over_barnehager_prioritert_5" /><br>

	<label for="tidspunkt_for_oppstart">Tidspunkt for Oppstart:</label>
	<input type="date" id="tidspunkt_for_oppstart" name="tidspunkt_for_oppstart" /><br>

	<label for="har_sosken_som_gaar_i_barnehagen">Har Søsken som Går i Barnehagen:</label> 
	<input type="checkbox" id="har_sosken_som_gaar_i_barnehagen" name="har_sosken_som_gaar_i_barnehagen" /><br>

	<label for="brutto_inntekt_husholdning">Brutto Inntekt Husholdning:</label>
	<input type="number" id="brutto_inntekt_husholdning" name="brutto_inntekt_husholdning" /><br><br>
	<input type="submit" value="Send søknad"> 
</form>
{% endblock %}
